.formHeader {
  margin: 0px;
  text-align: center;
  color: #2f323f;
  margin-top: 30px;
  margin-bottom: 10px;
}

.findPalSection {
  background: url(../../Assets/backrgound-svg-svg1.svg) no-repeat;
  background-attachment: cover;
  background-position: center bottom;
  margin-bottom: -5px;
}
