.formHeader {
  margin: 0px;
  text-align: center;
  color: #2f323f;
  margin-top: 30px;
  margin-bottom: 10px;
}

.findPalSection {
  background: url(../../Assets/backrgound-svg-svg1.svg) no-repeat;
  background-attachment: cover;
  background-position: center bottom;
  margin-bottom: -5px;
}

.infoBox {
  display: flex;
  flex-direction: column;
  margin: auto 180px;
  text-align: center;
  background-color: #fff;
  padding: 30px;
  border: 2px solid #2c8758;
  color: #2f323f;
}

.link {
  text-decoration: none;
  padding: 5px;
}
