.heading {
  text-align: center;
  margin: 2rem;
  font-size: 2rem;
}

.listItem {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.listBoxes {
  display: flex;
  flex-wrap: wrap;
}
